/* Style Sheet */

:root {
  --primary-color: #ec5242;
  --dark-color: #272a31;
  --gray-color: #d3d3d3;
  --white: #fff;
  --gray-60-color: #2120204d;
}

/* SETUP FONT */

@font-face {
  font-family: "Cocogoose";
  src: url("../fonts/Cocogoose.otf");
}

/* GLOBALS */

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover {
  color: var(--primary-color) !important;
  text-decoration: none;
}

/* COLORS */

.c-primary {
  color: var(--primary-color);
}

.c-dark {
  color: var(--dark-color);
}

.c-gray {
  color: var(--gray-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.bg-gray {
  background-color: var(--gray-color);
}

.row {
  margin: 0;
}

.col-gap {
  column-gap: 1.5rem;
}

/* Header */
button.campaign {
  background: transparent;
  border: 0.3rem solid var(--primary-color);
}

button.campaign:hover {
  background: transparent;
  border: 0.3rem solid var(--primary-color);
}

/* Section 1 - Presentation */

.section-presentation {
  background: url(../img/bg-sec-1.png) top no-repeat;
  background-size: cover;
}

.section-presentation h1 {
  font-family: "Cocogoose";
  font-size: 5rem;
  background-image: url(../img/bg-txt.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.section-presentation h3 {
  font-size: 2.5rem;
}

.section-presentation p.w-50 {
  border: 0.3rem solid var(--gray-60-color);
}

.section-presentation h2 {
  font-family: "Cocogoose";
  font-size: 2.5rem;
}

.adress {
  font-size: 1.6rem;
}

/* Section 2 - Main program */
.main-program {
  background: url(../img/bg-rep.png) top repeat;
  /* background-size: cover; */
}
