/* Style Sheet */


/* GLOBALS */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #ECEEF1;
    font-size: 1.6rem;
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}